@import url('https://fonts.googleapis.com/css?family=Oxygen:300,700');

html {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}

.container {
  padding: 25px;
  background-image:url("../img/rounded-quotes.svg");
  background-repeat: no-repeat;
}

#extract {
  font-size: 2em;
  text-align: justify;
  line-height: 1.7em;
}


.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background-image:url("../img/title-zone.svg");

}

.footer-content {
  background-color: rgba(200,200,200,0);
  color: #8e8e8e;
  text-align: right;
  padding: 25px;
  font-size: 1em;
}    

#title {
  font-weight: bolder;
  font-style: italic;
}

#author, #translator {
  font-style: italic;
  font-size: 0.9em;
}


.emphasis {
  font-size: 1.1em;
  font-weight: 700;
}