<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heure littéraire</title>
  </head>
  <link href="css/style.css" rel="stylesheet">
  <style>

  </style>
  <body class="container">
    
    <div id="extract">
    </div>

    <div class="footer">
      <div class="footer-content">
        <div id="title"></div>
        <div>
          <span id="author"></span>
          <span id="translator_info">, traduit par <span id="translator"></span></span>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <!-- <script src="../../data/full_list.js"></script> -->
    <script  type="application/javascript">
      $(function() {
        

        function getUrlVars()
        {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for(var i = 0; i < hashes.length; i++)
            {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }


        $.getJSON( "http://localhost:9876/data/full_list.json", function( data ) {
          var quotes = data;
          var q = getUrlVars()
          quote_to_display = quotes[q.time_to_read][q.version];

          var bold_quote = quote_to_display.extrait.replace(new RegExp(quote_to_display.motClef, 'g'), `<span class="emphasis">${quote_to_display.motClef}</span>`);
          bold_quote = bold_quote.replace(new RegExp('{{NEWLINE}}','g'),"<br/>");

          if (quotes[q.time_to_read][q.version].extrait.length < 200) {
            $('#extract').css('font-size', '2em');
          } else if ( quotes[q.time_to_read][q.version].extrait.length > 370) {
            $('#extract').css('font-size', '1.3em');
          } else {
            $('#extract').css('font-size', '1.7em');
          }
          $('#extract').html(bold_quote);

          $('#title').html(quote_to_display.titre);

          $('#author').html(quote_to_display.auteur);


          if (quote_to_display.traducteur === null || quote_to_display.traducteur == "") {
            $('#translator_info').hide();
          } else {
            $('#translator').html(quote_to_display.traducteur);
            $('#translator_info').show();
          }

        });




      });




    </script>
  </body>
</html>




<!-- A LIRE 
https://css-tricks.com/books/volume-i/scale-typography-screen-size/
https://css-tricks.com/fitting-text-to-a-container/
-->